body
{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.fullscreen-vid__video {
    position: fixed;
    right: 0;
    bottom: 0;
    /* min-height: 100%; */
    /* min-width: 100%; */
    /* max-height: 100%; */
    /* max-width: 100%; */
    /* max-width: 1920px; */
    /* min-width: 1920px; */
    /* max-height: 1080px; */
    /* min-height: 1080px; */
    /* background-size: cover; */
    z-index: -100;
    min-width: 100%;
    min-height:100%;
    /* background-image: url("img/background.jpg"); */
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:0;
    padding:0;
}

.fullscreen-vid__playing {
    width: 180px;
    height: 230px;
    object-fit: cover;
    /* overflow: hidden; */
    z-index: -100;
}

.fullscreen-vid 
{
    position:relative;
}

.input-div
{
    height: 20%
}

.additional-info
{
    position: fixed;
    bottom: 10%;
    text-align: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.weather-info
{
    position: relative;
    /* bottom: 10%; */
    text-align: center;
    margin: auto;
    width: 100%;
}

#location
{
    position: fixed;
    top: 10%;
    height: auto;
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin: 0;
}

#temperatureId
{
    margin: 0;
    top: 35%;
    position: fixed;
    height: auto;
    font-size: 80px;
    text-align: center;
    width: 100%;
}

#city-input
{
    height: 30px;
    font-size: 25px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid lightgray;
    width: 10%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

#city-input:focus
{
    outline:none;
    border-color: #005985;
    width: 20%;
    box-shadow:
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #fff,        /* outer left magenta */
        10px 0 80px #fff;         /* outer right cyan */
}

.plus-btn
{
    height: 30px;
    width: 30px;
    outline:none;
    display: inline-block;
    /* padding: 0.3em 1em; */
    text-decoration: none;
    color: #005985;
    border: solid 1px #005985;
    border-radius: 3px;
    transition: .4s;
    background-color: white;

}

.plus-btn:hover
{
    background: #005985;
    color: white;
}




.background-div
{
    /* position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 50%; 
    min-height: 50%;
    width: 50%; 
    height: 50%;
    z-index: -100; */ 

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
